<div class="modal-header">
  <h5 class="modal-title">Satellite {{satellite.properties.Name}}</h5>
</div>
<div class="modal-body">
  <table>
    <tr >
      <td>Constellation</td>
      <td>{{satellite.properties.Constellation}}</td>
    </tr>
    <tr >
      <td>Health</td>
      <td>
        <svg viewBox="0 0 2 2" xmlns="http://www.w3.org/2000/svg" style="max-height:20px;">
          <circle cx="1" cy="1" r="0.5" [ngStyle]="{'fill': (satellite.properties.IsHealthy ? 'green' : 'red') }" />
        </svg>
      </td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td>
        {{satellite.geometry.coordinates[0]}}
      </td>
    </tr>
    <tr>
      <td>Lontitude</td>
      <td>
        {{satellite.geometry.coordinates[1]}}
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">Close</button>
</div>
