
.grid-layout {
  background-color: white;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

  .grid-layout > div {
    font-size: 18px;
  }

ul {
  list-style-type: none;
}
.white {
  color: white;
}
