  <div class="card">
    <div class="card-body">
      <div>
        <h2>Log in</h2>
        <svg viewBox="0 0 2 2" xmlns="http://www.w3.org/2000/svg" style="max-height:20px;">
          <circle cx="1" cy="1" r="0.5"  [ngStyle]="{'fill': (true ? 'green' : 'red') }" />
        </svg>
      </div>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input pattern="[A-Za-z0-9._+-]+@[A-Za-z0-9 -]+\.[a-z]{2,}" [(ngModel)]="email" name="email" id="email" required type="email" title="must be a valid email address">
        </div>
        <div class="form-group">
          <label for="passi">Password</label>
          <input pattern="^P@ssw0rd123" [(ngModel)]="password" name="passw" id="passi" required type="password">
        </div>
        <button>Submit</button>
      </form>
    </div>
  </div>

